<div class="song_container">
<h1>Send Stephen a Song!</h1>
<p>This will add your recommendation to a custom Spotify playlist with your name.</p>

<%= render 'form', song: @song %>

<%= link_to 'Back', songs_path %>
</div>